*{
    margin: 0;
    padding: 0;
}

h1{
    text-align: center;
    font-size: 64px;
    background: linear-gradient(#000, #FFFFFF, #000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

html, body{
    height: 100%;
}

#grad{
    background: #2EE93B;
    background: -webkit-linear-gradient(right, #2EE93B, #A24238);
    background: -moz-linear-gradient(right, #2EE93B, #A24238);
    background: linear-gradient(to left, #2EE93B, #A24238);
    height: 100%;
    width: 100%;
}

.boxes{
	width:50%;
	float:left;
	}
	#mainDiv{
		width:50%;
margin:auto;
	}
	img{
		max-width:100%;
	}